<div class="d-flex justify-content-between">
  <h2 class="mb-0">Bank Accounts</h2>
  <%= link_to "Add", new_bank_account_path, class: "btn btn-primary" %>
</div>

<hr>

<%- if @bank_accounts.exists? %>
  <%- @bank_accounts.each do |bank_account| %>
    <%= render 'bank_account', bank_account: bank_account %>
  <% end %>
<%- else %>
  <p>No records found</p>
<% end %>
