<div class="d-flex justify-content-between">
  <h2 class="mb-0">Categories</h2>
  <%= link_to "Add", new_category_path, class: "btn btn-primary" %>
</div>

<hr>

<%- if @categories.exists? %>
  <%- @categories.each do |category| %>
    <div class="<%= "card mb-3 #{category.active? ? '' : 'bg-inactive'}" %>">
      <%= render 'category', category: category %>
    </div>
  <% end %>
<%- else %>
  <p>No records found</p>
<% end %>
